.errorlist {
	color: red;

}
.back-button {
 	color: blue;
}
.save {
 	color: darkgreen;
 	float: right;
}
.new-button {
 	color: darkgreen;
 	float: right;
}
.tilte-block {
	color: darkred;
	background-color: lightgrey;
	text-align: center;
}