{% load static %}
<html>
    <head>
         <title>Stock Reading App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="container">
        <div class="title-block">
            <h1>
                Current stock readings
                {% if reference_id %} for reference {{reference_id}}{% endif %}
            </h1>
        </div>

        <div class="container">
            <div class="new-button">
                <a href="/create/"><button>Add new reading</button></a>
            </div>
            <hr>
            <div class="table-block container">
                <table>
                    <thead>
                        <tr class="row">
                            <th class="col-md-6">Reference ID</th>
                            <th class="col-md-6">Expiry date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for reading in object_list %}
                        <tr class="row">
                            <td class="col-md-6">
                                <a href="/historic/?reference_id={{reading.reference_id}}">
                                    {{reading.reference_id}}
                                </a>
                            </td class="col-md-6">
                            <td>{{reading.expiry_date|date}}</td>
                        </tr>
                    {% empty %}
                        <tr class="row">
                            <td colspan=2 class="col-md-12">No readings to display.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </body>
</html>
