{% load static %}
<html>
    <head>
         <title>Stock Reading App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="container">
        <div class="title-block">
            <h1>
                Add new stock readings
            </h1>
        </div>
        <div class="container">
            <div class="back-button">
                <a href="/"><button>Back to current list</button></a>
            </div>
            <hr>
            {% if success %}
            <div class="success">Reading created with success</div>
            <br>
            {% endif %}
            <div class="reading-form container">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <input type="submit" value="Save" class="save">
                </form>
            </div>
        </div>
    </body>
</html>